body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(43, 23, 66);
    background-size: 100% 100%;
    animation: gradientBG 10s infinite alternate;
    min-height: 100vh;
    color: rgb(255, 255, 255);
}

.point {
    opacity: 100;
    background-color: rgba(0, 255, 238, 0.5);
    z-index: -1;
    left: -150px;
    top: -150px;
    width: 450px;
    height: 180px;
    filter: blur(100px);
    position: absolute;
    border-radius: 40%;
    margin: 40px auto;
    animation: movePoint 300ms ease-in-out forwards;
}

.point1 {
    opacity: 2;
    background-color: #403657da;
    z-index: -1;
    left: calc(70px + 140px + 300px + 100px + 300px + 110px);
    top: -160px;
    width: 300px;
    height: 450px;
    filter: blur(10px);
    position: absolute;
    border-radius: 800%;
    margin: 40px auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.267);
    transform: rotate(120deg);
}

.point2 {
    opacity: 1.8;
    background-color: rgba(0, 255, 238, 0.26);
    z-index: 1;
    left: 65%;
    top: 20%;
    width: 60px;
    height: 400px;
    filter: blur(40px);
    position: absolute;
    border-radius: 100%;
    transform: rotate(60deg);
}

.point3 {
    opacity: 1.5;
    background-color: rgba(0, 255, 236, 0.13);
    z-index: -1;
    left: -10%;
    top: 50%;
    width: 500px;
    height: 500px;
    filter: blur(30px);
    position: absolute;
    border-radius: 50%;
}

/*.point4 {
  opacity: 1;
  background-color: rgba(81, 255, 0, 0.493);
  z-index: -1;
  right: 40%;
  top: 63%;
  width: 70px;
  height: 165px;
  filter: blur(30px);
  position: absolute;
  border-radius: 130% / 120%;
  transform: rotate(70deg);
}*/

.point5 {
    opacity: 1;
    background-color: rgb(40, 38, 74);
    z-index: -1;
    right: 45%;
    top: -10%;
    width: 200px;
    height: 380px;
    filter: blur(30px);
    position: absolute;
    border-radius: 130% / 120%;
    transform: rotate(70deg);
}

.personnages {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 575px;

}

.arbres {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 156px;
    left: 575px;
}

.oops {
    font-size: 2.5rem;
    color: #ffffff;
    margin: 0;
    position: absolute;
    top: 90px;
    left: 710px;

}

/* Style pour le sous-titre */
.page {
    font-size: 1.5rem;
    color: #cccccc;
    margin-top: 10px;
    position: absolute;
    top: 400px;
    left: 655px;
}

.home-button {
    background-color: rgba(217, 217, 217, 0.44);
    width: 230px;
    height: 50px;
    color: #cccccc;
    margin-top: 10px;
    position: absolute;
    top: 500px;
    left: 660px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
}

.home-button:hover {
    transform: scale(1.1);
    /* Agrandit le bouton de 10% */
}